@model brightideas.Models.DashboardModels
@using brightideas.Models

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bright Ideas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/style.css"/>
  </head>
  <body>
    <div class="container">
        <h1 id="name">Hi @ViewBag.Name!</h1>
        <a id="log" href="/logout">Logout</a>
        <br><br>
        @Html.Partial("Create_Post", (Post)@ViewBag.post)
        <br><br>
        @foreach (Post post in Model.allPosts)
        {
            <div class="form-group row">
                <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label"><a href="/users/@post.user.UserId">@post.user.name</a> says: </label>
                <div class="col-sm-10" id="message_box">
                    <p>@post.Content</p>
                </div>
            </div>
            <a id="likes" href="/like/@post.PostId">Like </a>
            <p id="total_likes"><a href="/post_info/@post.PostId">@post.Like.Count</a> liked this</p>
            @if(Model.User.UserId == post.UserId)
            {
                <a href="/delete_post/@post.PostId"><button id="red" type="submit" class="btn btn-primary">Delete Post</button></a>
            }
            <br><br>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
